doctype html
html
    head
        title Login
        style
            include style.css
    body
        div.box
            h1 Zaloguj się do aplikacji
            a(href="/auth/google") 
                    button Zaloguj się przez Google